body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/image1.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

.main {
    padding: 20px;
}

.event {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth effect */
}

.event img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.event h2 {
    color: #000000; /* Black color for event titles */
}

.event p {
    color: #333333; /* Dark gray color for event descriptions, dates, and organizers */
}

.event a {
    display: inline-block;
    background-color: #007bff; /* Blue color for the "Buy Tickets" button */
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.event a:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
