{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="">Home</a>
            <a href="buy_events">Events</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </nav>
    </header>

    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
              <img src="https://i.guim.co.uk/img/media/2c46e39976255f76724f6af1aae317defb9c5644/0_137_4285_2571/master/4285.jpg?width=1900&dpr=1&s=none">
                <div class="content">
                    <div class="author">Event Organizers</div>
                    <div class="title">Create and Manage Events</div>
                    <div class="topic">Easy Event Organization</div>
                    <div class="des">
                        Organize events effortlessly with our intuitive event management system.
                    </div>
                    <div class="buttons">
                        <button><a href="buy_events">Events</a></button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
    <!--<script src="{% static 'js/app.js' %}"></script> -->
</body>
</html>
