{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{% static 'css/buyevents.css' %}">
</head>
<body>

<header>
    <h1>Upcoming Events</h1>
</header>

<main class="container">
    <div class="event">
        <h2>ALL IN BLACK FRIDAY PARTY!!</h2>
        <img src="https://img.freepik.com/free-vector/black-friday-sale-with-realistic-3d-balloons-bokeh-explosion-background_1361-3999.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709769600&semt=ais" alt="Event Image">
        <p>Description of the event.</p>
        <p class="event-date">Date: Event Date</p>
        <p>Organizer: Event Organizer</p>
        <a href="buy_tickets">Buy Tickets</a>
    </div>

    <div class="event">
        <h2>WEDNESDAY GROOVE TOWN!!</h2>
        <img src="https://media.istockphoto.com/id/941216476/photo/friends-having-fun-at-subway-station.jpg?s=612x612&w=0&k=20&c=4HL8Jg96mGxs5qt8Vt_rJSf8FrJqq7Bz5DRC-LPjhhI=" alt="Event Image">
        <p>Description of the event.</p>
        <p class="event-date">Date: Event Date</p>
        <p>Organizer: Event Organizer</p>
        <a href="buy_tickets">Buy Tickets</a>
    </div>

    <div class="event">
        <h2>WEDNESDAY GROOVE TOWN!!</h2>
        <img src="https://media.istockphoto.com/id/941216476/photo/friends-having-fun-at-subway-station.jpg?s=612x612&w=0&k=20&c=4HL8Jg96mGxs5qt8Vt_rJSf8FrJqq7Bz5DRC-LPjhhI=" alt="Event Image">
        <p>Description of the event.</p>
        <p class="event-date">Date: Event Date</p>
        <p>Organizer: Event Organizer</p>
        <a href="buy_tickets">Buy Tickets</a>
    </div>

    <div class="event">
        <h2>WEDNESDAY GROOVE TOWN!!</h2>
        <img src="https://media.istockphoto.com/id/941216476/photo/friends-having-fun-at-subway-station.jpg?s=612x612&w=0&k=20&c=4HL8Jg96mGxs5qt8Vt_rJSf8FrJqq7Bz5DRC-LPjhhI=" alt="Event Image">
        <p>Description of the event.</p>
        <p class="event-date">Date: Event Date</p>
        <p>Organizer: Event Organizer</p>
        <a href="buy_tickets">Buy Tickets</a>
    </div>

    <div class="event">
        <h2>WEDNESDAY GROOVE TOWN!!</h2>
        <img src="https://media.istockphoto.com/id/941216476/photo/friends-having-fun-at-subway-station.jpg?s=612x612&w=0&k=20&c=4HL8Jg96mGxs5qt8Vt_rJSf8FrJqq7Bz5DRC-LPjhhI=" alt="Event Image">
        <p>Description of the event.</p>
        <p class="event-date">Date: Event Date</p>
        <p>Organizer: Event Organizer</p>
        <a href="buy_tickets">Buy Tickets</a>
    </div>


    
    
</main>

<footer>
    <p>&copy; 2024 Event Management System. All rights reserved.</p>
</footer>

</body>
</html>
